<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

	<div class="page-header">
    
		<% include ../helpers/navbar %>
		<h1>Weather check</h1>

	</div>

	<div class="input-div">

		<input class="search" type="text" placeholder="Enter city name">
		<button type="button" onClick="searchWeather()"> Search </button>
	</div>

	<div class="city">  
	</div>

	<div class="temp">  
	</div>

	<div class="humidity"> 
	</div>

	<div class="rain">
	</div>

	<div class="error-message">
	</div>

	<div class="login-div">
		
		<button type="button" onClick="handleSignIn()"> Login </button>
		<button type="button" onClick="tester()"> test me! </button>

	</div>
  
</body>

</html>
